body,
html {
    margin: 0; 
    padding: 0; 
    position: fixed; 
    background: rgb(39, 29, 43); 
}

.header {
    position: static !important; 
}

.buymeacoffee {
    text-decoration: none; 
    position: fixed; 
    right: 2rem; 
    bottom: 2rem; 
    background: #831e83; 
    width: 3.5rem; 
    height: 3.5rem;
    border-radius: 50%;
    transition: all 0.1s linear; 
    box-shadow: 0.2rem 0.2rem 0.5rem #5f155f; 
    z-index: 1000;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.buymeacoffee:hover {
    width: 4rem; 
    height: 4rem; 
    line-height: 4rem; 
}
