
.header {
    height: 80px; 
    background: #7707aa; 
    display: flex;
    align-items: center; 
    width: 100%; 
    position: fixed;
    top: 0; 
    z-index: 2; 
}

.inner_header {
    height: 100%; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}


.logotype {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 22px;
    height: 60px;
    width: fit-content; 
    background: var(--orange); 
    padding: 8px;
    color: rgb(217, 120, 236);
    border-radius: 5px; 
    cursor: pointer;
}


.menu {
    display: flex;
    justify-content: space-around; 
    width: 600px;
}

.menu_link a {
    color: var(--orange); 
    text-transform: uppercase; 
}

.menu_link a:hover {
    text-decoration: underline; 
}


.main_block {
    padding: 100px 0; 
    background: rgb(39, 29, 43); 
}


.colors-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.btn-color {
    border-radius: 20px;
    border-color: rgb(198, 104, 241) !important; 
}


.footer {
    background: #6107aa; 
    width: 100%;
}

.inner_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; 
}

.footer h2 {
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 600;
}


.slider_block {
    padding: 100px 0;
    background: rgb(39, 29, 43);
}

.slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 3px solid var(--orange);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.slide {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.slide_card {
    color: rgb(220, 126, 248);
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.slide_card h3 {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
}

.slide_card p {
    font-size: 16px;
    text-align: justify;
    margin: 10px 0;
}

.slide_card a {
    color: var(--orange);
    text-decoration: underline;
}

.slide.active_slide {
    display: block; 
}


.block_video {
    background: rgb(39, 29, 43);
    padding: 100px 0;
}

.inner_block_video {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgb(23, 17, 26); 
    display: none; 
}

.modal_dialog {
    max-width: 500px;
    margin: 150px auto; 
}

.modal_content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: rgb(39, 29, 43);
    border: 2px solid var(--orange);
    border-radius: 4px;
    max-height: 80vh; 
    overflow-y: auto; 
}

.modal_content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: red;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal_title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.modal_input, .btn_min {
    width: 100% !important;
    margin-top: 10px;
}


.botlle {
    background: rgb(39, 29, 43);
    padding: 100px 0;
}

.bottle_inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bowl {
    position: relative;
    width: 300px;
    height: 300px;
    background: rgba(39, 29, 43);
    border-radius: 50%;
    border: 8px solid transparent;
    animation: animate 5s linear infinite; 
    transform-origin: bottom center;
    animation-play-state: run;
}


@keyframes animate {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(22deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-22deg); }
    100% { filter: hue-rotate(360deg); }
}

.bowl::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 30px;
    border: 15px solid #444;
    border-radius: 50%;
    box-shadow: 0 10px #222;
}

.bowl::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 60px;
    background: rgba(255, 255, 255, 0.05);
    transform-origin: center;
    animation: animatebowlshadow 5s linear infinite;
    border-radius: 50%;
    animation-play-state: running;
}


@keyframes animatebowlshadow {
    0%,50% { left: 50%; width: 150px; height: 60px; }
    25%,75% { width: 140px; height: 65px; }
    25% { left: 55%; }
    75% { left: 45%; }
}

.liquid {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: #1ae907;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 80px #1ae907);
    transform-origin: top center;
    animation: animateliquid 5s linear infinite; 
}

@keyframes animateliquid {
    0%,50%,100% { transform: rotate(0deg); }
    25% { transform: rotate(-22deg); }
    30% { transform: rotate(-23deg); }
    75% { transform: rotate(22deg); }
    80% { transform: rotate(23deg); }
}

.liquid::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    background: #15be05;
    border-radius: 50%;
    filter: drop-shadow(0 0 80px #15be05);
}


.shadow {
    position: absolute;
    top: calc(50% + 150px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 40px;
    background: rgba(39, 29, 43);
    border-radius: 50%;
    animation: animateshadow 5s linear infinite;
}

@keyframes animateshadow {
    0%,50%,100% {
        left: 50%; width: 260px; height: 40px;
        top: calc(50% + 150px);
    }
    25%,75% {
        width: 265px; height: 30px; top: calc(50% + 130px);
    }
    25% { left: 55%; }
    75% { left: 45%; }
}
